@tailwind base;


@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

  html,
  body,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    font-family: 'Poppins' san-serif;
  }

  html {
    scroll-behaviour: smooth;
  }

  body {
    min-height: 100vh;
    width: 100%;
    font-weight: normal;
    font-size: 1.6rem;
    background: url('./assets/hero.svg');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /* overflow-hidden: hidden; */
  }
  .bg{
    background: url('./assets/phone.svg');
    background-size: cover;
      background-position: 100% 100%;
      background-repeat: no-repeat;
  }
    .col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
}

@tailwind components;
@tailwind utilities;